################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/packages
/src/WpfToolkit/bin/Debug

/src/WpfToolkit/obj/Debug
